
  <section class="slider">
    <ul class="slider1">
      <li><img src="/img/hero.jpg" alt="Slider Uno"></li>
      <li><img src="/img/slider1.jpg" alt="Slider dos"></li>
      <li><img src="/img/slider3.jpg" alt="Slider tres"></li>
    </ul>
  </section>  

<section id="portfolio">
  <div class="container-fluid">
    <div class="content-center">
      <h2>Start creating a big impact</h2>
      <p>The opportunities to positively impact the world are greater than ever. As the world’s largest early-stage
        investment platform, we believe that it is important to have exceptional people, regardless of their background
        and nationality, work on addressing large global opportunities and challenges by building groundbreaking
        technology companies.</p>
    </div>

    <div class="row">

      <div class="col-md-3">
        <div class="portfolio-container">
          <div class="portfolio-details">
            <a href="#">
              <h2>Keep Calm and Eat</h2>
            </a>
            <a href="#">
              <p>App/Digital Product</p>
            </a>
          </div>
          <img src="/img/portfolio-01.jpg" alt="portfolio 1" class="img-fluid">
        </div>
      </div>

      <div class="col-md-3">
        <div class="portfolio-container">
          <div class="portfolio-details">
            <a href="#">
              <h2>New Horizons</h2>
            </a>
            <a href="#">
              <p>App/Digital Product</p>
            </a>
          </div>
          <img src="/img/portfolio-02.jpg" alt="portfolio 2" class="img-fluid">
        </div>
      </div>

      <div class="col-md-3">
        <div class="portfolio-container">
          <div class="portfolio-details">
            <a href="#">
              <h2>Urban Oasis</h2>
            </a>
            <a href="#">
              <p>App/Digital Product</p>
            </a>
          </div>
          <img src="/img/portfolio-03.jpg" alt="portfolio 3" class="img-fluid">
        </div>
      </div>

      <div class="col-md-3">
        <div class="portfolio-container">
          <div class="portfolio-details">
            <a href="#">
              <h2>No Speed Limits</h2>

            </a>
            <a href="#">
              <p>App/Digital Product</p>
            </a>
          </div>
          <img src="/img/portfolio-04.jpg" alt="portfolio 4" class="img-fluid">
        </div>
      </div>
    </div>
    <div class="text-center topmargin-sm">
      <p>Ready to accelerate your project?</p>
      <a href="#" class="text-dark">Just let us know.</a>
    </div>
  </div>
</section>

<section id="aboutus" class="bg-light-grey">
  <div class="container">
    <div class="content-center">
      <h2>Get from zero to seed in 6 months</h2>
      <p>Joining Antler is a full-time commitment. Join before you started building your company, find co-founder(s) and
        start building from scratch with our support. Select one of our cities, and get ready for a journey that will
        get you places you didn’t think was possible.</p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="member-container">
          <div class="member-details">
            <h5>Andrea M. Olivos</h5>
            <span>Creative Director</span>
            <ul class="list-inline">
              <li class="list-inline-item"> <a href="#"> <i>
                    <ion-icon name="logo-instagram"></ion-icon>
                  </i>
                </a></li>
              <li class="list-inline-item"> <a href="#"> <i>
                    <ion-icon name="logo-twitter"></ion-icon>
                  </i></a></li>
              <li class="list-inline-item"> <a href="#"> <i>
                    <ion-icon name="logo-youtube"></ion-icon>
                  </i></a></li>
              <li class="list-inline-item"> <a href="#"> <i>
                    <ion-icon name="logo-dribbble"></ion-icon>
                  </i></a></li>
              <li class="list-inline-item"> <a href="#"> <i>
                    <ion-icon name="logo-facebook"></ion-icon>
                  </i></a></li>
            </ul>
          </div>
          <img src="/img/member-01.jpg" class="img-fluid" alt="member 1">
        </div>
      </div>

      <div class="col-md-4">
        <div class="member-container">
          <div class="member-details">
            <h5>Lidia A. Flores</h5>
            <span>Lead Designer</span>
            <ul class="list-inline">
              <li class="list-inline-item"> <a href="#"> <i>
                    <ion-icon name="logo-twitch"></ion-icon>
                  </i>
                </a></li>
              <li class="list-inline-item"> <a href="#"> <i>
                    <ion-icon name="logo-twitter"></ion-icon>
                  </i></a></li>
              <li class="list-inline-item"> <a href="#"> <i>
                    <ion-icon name="logo-youtube"></ion-icon>
                  </i></a></li>
              <li class="list-inline-item"> <a href="#"> <i>
                    <ion-icon name="logo-dribbble"></ion-icon>
                  </i></a></li>
              <li class="list-inline-item"> <a href="#"> <i>
                    <ion-icon name="logo-facebook"></ion-icon>
                  </i></a></li>
            </ul>
          </div>
          <img src="/img/member-02.jpg" class="img-fluid" alt="member 2">
        </div>
      </div>

      <div class="col-md-4">
        <div class="member-container">
          <div class="member-details">
            <h5>Adrian A. Carmona</h5>
            <span>Lead Developer</span>
            <ul class="list-inline">
              <li class="list-inline-item"> <a href="#"> <i>
                    <ion-icon name="logo-instagram"></ion-icon>
                  </i>
                </a></li>
              <li class="list-inline-item"> <a href="#"> <i>
                    <ion-icon name="logo-twitter"></ion-icon>
                  </i></a></li>
              <li class="list-inline-item"> <a href="#"> <i>
                    <ion-icon name="logo-youtube"></ion-icon>
                  </i></a></li>
              <li class="list-inline-item"> <a href="#"> <i>
                    <ion-icon name="logo-dribbble"></ion-icon>
                  </i></a></li>
              <li class="list-inline-item"> <a href="#"> <i>
                    <ion-icon name="logo-facebook"></ion-icon>
                  </i></a></li>
            </ul>
          </div>
          <img src="/img/member-03.jpg" class="img-fluid" alt="member 3">
        </div>
      </div>
    </div>
  </div>
</section>

<section id="pricing" class="divider">
  <div class="container">
    <div class="content-center">
      <h2>Pricing built for <b>every business</b></h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Nisi scelerisque eu ultrices vitae.</p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="pricing-container">
          <div class="plans plan-light">
            <h4>Starter solution</h4>
            <h2>$89 <span>/ per moth</span></h2>
            <h4>Per 1 Million Data Points</h4>
            <ul class="topmargin-xs">
              <li>Integration with Google Analytics</li>
              <li>Online Payments</li>
              <li>Solution Architect</li>
              <li>Dedicated Support</li>

            </ul>
            <a href="#" class="btn btn-dark full-width topmargin-sm">Start now</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="pricing-container">
          <div class="plans plan-dark">
            <h4>Enterprise solution</h4>
            <h2>$139 <span>/ per moth</span></h2>
            <h4>Per 1 Million Data Points</h4>
            <ul class="topmargin-xs">
              <li>Integration with Google Analytics</li>
              <li>Online Payments</li>
              <li>Solution Architect</li>
              <li>Dedicated Support</li>

            </ul>
            <a href="#" class="btn full-width topmargin-sm btn-transparent">Start now</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section id="testimonials" class="divider">
  <div class="container">
    <div class="content-center">
      <h2>A few words from <b>our clients...</b></h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.</p>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="carousel-container">
            <p>Nibh nisl condimentum id venenatis a condimentum vitae sapien. Amet luctus venenatis lectus magna
              fringilla.</p>
            <div class="rating">
              <ul class="list-inline">
                <li class="list-inline-item"><i>
                    <ion-icon name="star"></ion-icon>
                  </i></li>
                <li class="list-inline-item"><i>
                    <ion-icon name="star"></ion-icon>
                  </i></li>
                <li class="list-inline-item"><i>
                    <ion-icon name="star"></ion-icon>
                  </i></li>
                <li class="list-inline-item"><i>
                    <ion-icon name="star"></ion-icon>
                  </i></li>
                <li class="list-inline-item"><i>
                    <ion-icon name="star"></ion-icon>
                  </i></li>
              </ul>
            </div>
            <div class="testimonial-user">
              <div class="row">
                <div class="col-md-3">
                  <img src="/img/member-01.jpg" class="img-fluid" alt="testimonial user 1">
                </div>
                <div class="col-md-9">
                  <h6>Alondra Olvera</h6>
                  <span>Yahoo Ceo</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-container">
            <p>Nibh nisl condimentum id venenatis a condimentum vitae sapien. Amet luctus venenatis lectus magna
              fringilla.</p>
            <div class="rating">
              <ul class="list-inline">
                <li class="list-inline-item"><i>
                    <ion-icon name="star"></ion-icon>
                  </i></li>
                <li class="list-inline-item"><i>
                    <ion-icon name="star"></ion-icon>
                  </i></li>
                <li class="list-inline-item"><i>
                    <ion-icon name="star"></ion-icon>
                  </i></li>
                <li class="list-inline-item"><i>
                    <ion-icon name="star"></ion-icon>
                  </i></li>
                <li class="list-inline-item"><i>
                    <ion-icon name="star"></ion-icon>
                  </i></li>
              </ul>
            </div>
            <div class="testimonial-user">
              <div class="row">
                <div class="col-md-3">
                  <img src="/img/member-02.jpg" class="img-fluid" alt="testimonial user 2">
                </div>
                <div class="col-md-9">
                  <h6>Paola Soto</h6>
                  <span>Yahoo Ceo</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-container">
            <p>Nibh nisl condimentum id venenatis a condimentum vitae sapien. Amet luctus venenatis lectus magna
              fringilla.</p>
            <div class="rating">
              <ul class="list-inline">
                <li class="list-inline-item"><i>
                    <ion-icon name="star"></ion-icon>
                  </i></li>
                <li class="list-inline-item"><i>
                    <ion-icon name="star"></ion-icon>
                  </i></li>
                <li class="list-inline-item"><i>
                    <ion-icon name="star"></ion-icon>
                  </i></li>
                <li class="list-inline-item"><i>
                    <ion-icon name="star"></ion-icon>
                  </i></li>
                <li class="list-inline-item"><i>
                    <ion-icon name="star"></ion-icon>
                  </i></li>
              </ul>
            </div>
            <div class="testimonial-user">
              <div class="row">
                <div class="col-md-3">
                  <img src="/img/member-03.jpg" class="img-fluid" alt="testimonial user 3">
                </div>
                <div class="col-md-9">
                  <h6>Elon Musk</h6>
                  <span>Yahoo Ceo</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <div class="control-button">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </div>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <div class="control-button">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </div>
        <span class="sr-only">Next</span>
      </a>

    </div>
  </div>
</section>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-6 topmargin-sm">
        <h3>Ready to accelerate your proyect? <b>just let us know.</b></h3>
        <p>Nibh nisl condimentum id venenatis a condimentum vitae sapien. Amet luctus venenatis lectus magna fringilla.
        </p>
      </div>
      <div class="col-md-6 topmargin-sm">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" class="form-control" id="" placeholder="Name">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" class="form-control" id="" placeholder="Last name">
            </div>
          </div>
          <div class="col-md-12">
            <form class="form-group">
              <input type="email" class="form-control" id="" placeholder="Email">
            </form>
          </div>
          <div class="col-md-12">
            <form class="form-group">
              <input type="text" class="form-control" id="" placeholder="Company name">
            </form>
          </div>
          <div class="col-md-12">
            <form class="form-group">
              <input type="number" class="form-control" id="" placeholder="Phone number (optional)">
            </form>
          </div>
          <div class="col-md-12">
            <a href="#" class="btn btn-dark full-width">Contact sales</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

