<section id="footer" class="bg-dark">
  <div class="container">
    <img src="/img/apex.jpg" class="logo-brand" alt="logo">
    <ul class="list-inline"> 
      <li class="list-inline-item footer-menu"> <a href="#">Home</a></li>
      <li class="list-inline-item footer-menu"> <a href="#">Portfolio</a></li>
      <li class="list-inline-item footer-menu"> <a href="#">About us</a></li>
      <li class="list-inline-item footer-menu"> <a href="#">Pricing</a></li>
      <li class="list-inline-item footer-menu"> <a href="#">Contact</a></li>
    </ul>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#"><i><ion-icon name="logo-instagram"></ion-icon></i></a></li>
      <li class="list-inline-item"> <a href="#"> <i><ion-icon name="logo-twitter"></ion-icon>
      </i></a></li>
      <li class="list-inline-item"> <a href="#"> <i><ion-icon name="logo-youtube"></ion-icon>
      </i></a></li>
      <li class="list-inline-item"> <a href="#"> <i><ion-icon name="logo-dribbble"></ion-icon>
      </i></a></li>
      <li class="list-inline-item"> <a href="#"> <i><ion-icon name="logo-facebook"></ion-icon>
      </i></a></li>
    </ul>
    <small>©2020 LuisDa Castillo  </small>
  </div>
  
</section>